<div class="modal-body">
    <div class="row" style="background-color:#DBB2D2 ;margin-top: -1rem;">
        <p style="margin-left: auto;margin-right: auto;margin-top: 25px;
        font-size: 20px;font-family: 'Mada', sans-serif;">View City Details</p>
    </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid#DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2" >City Name</h6>
                    <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">{{oneCity.name_en}}</p>

                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">Country Name</h6>
                    <p class="card-text text-left" style="color: #DBB2D2;margin-top: -5px;font-size: 18px;">{{oneCity.country_en}}</p>

                </div>
            </div>
        </div>
    </div>



    
</div>

