<div class="modal-body">
    <div class="row" style="background-color:#DBB2D2 ;margin-top: -1rem;">
        <p style="margin-left: auto;margin-right: auto;margin-top: 25px;
        font-size: 20px;font-family: 'Mada', sans-serif;">View Order Details</p>
    </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid#DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">Date</h6>
                    <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">
                        {{oneCoupon.date}}</p>

                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">Time</h6>
                    <p class="card-text text-left" style="color: #DBB2D2;margin-top: -5px;font-size: 18px;">
                        {{oneCoupon.time}}</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">Cost</h6>
                    <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">
                        {{oneCoupon.cost}}</p>

                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">Order Number</h6>
                    <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">
                        {{oneCoupon.order_num}}</p>

                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">Payment </h6>
                    <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">
                        {{oneCoupon.payment_status}}</p>

                </div>
            </div>
        </div>
 <div class="col-md-6 mt-3">
        <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
            <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                <h6 class="card-title text-left mt-2">Order Status</h6>
                <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">
                    {{oneCoupon.order_status}}</p>

            </div>
        </div>
    </div>
    </div>
   
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">Location </h6>
                    <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">
                        {{oneCoupon.user_location [0]?.address}}</p>

                </div>
            </div>
            
        </div>
        
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">User Mobile </h6>
                    <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">
                        {{oneCoupon.user.mobile}}</p>

                </div>
            </div>
            
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">Beaut Name </h6>
                    <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">
                        {{oneCoupon.beautician.beaut_name}}</p>

                </div>
            </div>
            
        </div>
        
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">User Mobile </h6>
                    <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">
                        {{oneCoupon.user.mobile}}</p>

                </div>
            </div>
            
        </div>

    </div>


    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">Beaut Name </h6>
                    <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">
                        {{oneCoupon.beautician.beaut_name}}</p>

                </div>
            </div>
            
        </div>
        
        <div class="col-md-6 mt-3">
            <div class="card" style="width: 15rem;border: 1px solid #DBB2D2;height: 70px;">
                <div class="card-body" style="margin-right: auto;margin-top: -1rem;">
                    <h6 class="card-title text-left mt-2">User Mobile </h6>
                    <p class="card-text text-left" style="color:#DBB2D2;margin-top: -5px;font-size: 18px;">
                        {{oneCoupon.payment_method.id}}</p>

                </div>
            </div>
            
        </div>

    </div>
</div>