<app-side></app-side>
<app-header></app-header>
<div class="appSideInfo">
  <div class="infoContent">
    <div class="box">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <div class="box-part " style="background:#04270C;">
            
              <div class="title">
                <div style="color: white;margin-right: auto;margin-left: auto;padding-top: 20px;font-size: 50px;
                font-family: 'Xanh Mono', monospace;">{{home.confirmed_orders}}</div> 

                <h4 style="color: white;font-size: 18px;padding-top:1rem;margin-right: 9rem;">
                  Confirmation Orders
                </h4>
              </div>
              <div style="width:80px;height: 80px;border-radius: 50%;
              background-color: white;opacity: 0.1;margin-left: 15rem;margin-top: -7rem;"></div>
              <div style="width:40px;height: 40px;border-radius: 50%;
              background-color: white;opacity: 0.1;margin-left: 14rem;margin-top: -6rem;"></div>
            </div>
         
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <div class="box-part " style="background-color: #3F4468;">
              <div style="color: white;margin-right: auto;margin-left: auto;padding-top: 20px;font-size: 50px;
              font-family: 'Xanh Mono', monospace;">
                {{home.beauticians_canceled_orders}}</div> 

              <div >
                <h4 style="color: white;font-size: 18px;padding-top: 1rem;margin-right: 5rem;">
                  Beauticians Canceled Orders
                </h4>
              </div>
              <div style="width:80px;height: 80px;border-radius: 50%;
              background-color: white;opacity: 0.1;margin-left: 15rem;margin-top: -10rem;"></div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="box-part " style="background-color: #022F01;">
                <div  class="title">
                  <div style="color: white;margin-right: auto;margin-left: auto;padding-top: 20px;font-size: 50px;
                  font-family: 'Xanh Mono', monospace;">
                    {{home.users_canceled_orders}}</div> 
                  <h4 style="color: white;font-size: 18px;padding-top: 1rem;margin-right: 8rem;">
                    Users Canceled Orders
                  </h4>
                </div>
                <div style="width:80px;height: 80px;border-radius: 50%;
                background-color: white;opacity: 0.1;margin-left: 15rem;margin-top: -7rem;"></div>
                
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part " style="background-color: #1D382B;">
              <div  class="title">
                <div style="color: white;margin-right: auto;margin-left: auto;padding-top: 20px;font-size: 50px;
                font-family: 'Xanh Mono', monospace;">
                  {{home.users_canceled_orders}}</div> 
                <h4 style="color: white;font-size: 18px;padding-top: 1rem;margin-right: 8rem;">
                  Pending Order Number
                </h4>
              </div>
              <div style="width:80px;height: 80px;border-radius: 50%;
              background-color: white;opacity: 0.1;margin-left: 8rem;margin-top: -7rem;"></div>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <div class="box-part " style="background-color: #636262;">
              <div  class="title">
                <div style="color: white;margin-right: auto;margin-left: auto;padding-top: 20px;font-size: 50px;
                font-family: 'Xanh Mono', monospace;">
                  {{home.completed_order_number}}</div>
                <h4 style="color: white;font-size: 18px;padding-top: 1rem;margin-right: 15rem;width: 70%;">
                  Completed Order Number
                </h4>
              </div>
              <div style="width:70px;height: 70px;border-radius: 50%;z-index: 5;
              background-color: #575757C7;opacity: 0.9;margin-left: 12rem;margin-top: -7rem;">
              
            </div>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <div class="box-part " style="background-color: #3F4468;">
              <div  class="title">
                <div style="color: white;margin-right: auto;margin-left: auto;padding-top: 20px;font-size: 50px;
                font-family: 'Xanh Mono', monospace;">
                  {{home.users_number}}</div>
                <h4 style="color: white;font-size: 18px;padding-top: 1rem;margin-right: 40rem;width: 40%;">
                  Users Number
                </h4>
              </div>
              <div style="width:80px;height: 80px;border-radius: 50%;
              background-color: #57575736;opacity: 1;margin-left: 15rem;margin-top: -7rem;"></div>
              <div style="width:40px;height: 40px;border-radius: 50%;
              background-color: #57575736;opacity: 1;margin-left: 14rem;margin-top: -6rem;"></div>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <div class="box-part " style="background-color: #636262;">
              <div  class="title">
                <div style="color: white;margin-right: auto;margin-left: auto;padding-top: 20px;font-size: 50px;
                font-family: 'Xanh Mono', monospace;">
                  {{home.providers_number}}</div>
                <h4 style="color: white;font-size: 18px;padding-top: 1rem;margin-right: 40rem;width: 50%;">
                  Providers Number
                </h4>
              </div>
              
              <div style="width:60px;height: 60px;border-radius: 50%;
              background-color: #5757577D;opacity: 1;margin-left: 14rem;margin-top: -6rem;"></div>
              
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>