<app-side></app-side>
<app-header></app-header>

<div class="appSideInfo">
    <div class="infoContent">
        <div class="row mt-5" style="background-color: white;width: 90%;margin-left: auto;margin-right: auto;
      height: 5rem;border-radius:10px;">
            <div class="col-md-3 " style="margin-top: 1.5rem;">
                <p>list of Beaut provider</p>
            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-4" style="margin-top: 0.8rem;">
                <button class="btn" (click)="open(content)"
                    style="background-color: #DBB2D2;color: white;font-weight:bold;width: 200px;height: 50px;">Add new Beaut Provider</button>
            </div>

        </div>

        <div class="row" style="background-color: white;width: 90%;margin-left: auto;margin-right: auto;
      height: auto;border-radius:10px;margin-top: 2rem;">
            <div class="row" style="margin-left: 2rem;display: inline-block;margin-top: 2rem;">
                <form class="example">
                    <button class="btn"
                        style="background-color: #DBB2D2;color: white;height: 40px;width: 50px;margin-top: -5px;"><i
                            class="fas fa-search" style="font-size: 27px;"></i></button>
                    <input type="text" placeholder=" Search" name="search"
                        style="width: 500px;height: 40px;outline:none;margin-top: rem;border: none;border: 1px solid #E4E2E2;">

                    <button class="btn" style="background-color: #DBB2D2;color: white;height: 40px;width: 50px;
        margin-top: -5px;margin-left: 2rem;"><i class="fas fa-sliders-h" style="font-size: 27px;"></i></button>
                    <select class="form-control " style="height: 40px;width: 235px;display: inline-block;">
                        <option disabled selected> Filter By</option>
                        <option></option>
                    </select>
                </form>
            </div>

            <table class="table table-bordered mt-5 ">
                <thead style="background-color: #E4E2E2;">
                    <tr>
                        <th scope="col">Owner Name</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Email</th>
                        <th scope="col" style="width: 50px;">Instgram </th>
                        <th scope="col">Categories</th>
                        <th scope="col">Services</th>

                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of provList">
                        <td>{{item.owner_name}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.email}}</td>
                        <td><a href="{{item.insta_link}}">Instgram Account</a></td>
                        <td>{{item.categories[0]?.name_en || "ـــــ"}}</td>
                        <td>{{item.services[0]?.name_en}}</td>

                        <td>
                            <div
                                style="background-color: teal ;border-radius: 50%;width:25px;height: 25px;display:inline-block;">
                                <a (click)="viewBeauty(item)">
                                    <i class="fas fa-eye" style="color: white;font-size: 13px;"></i></a></div>
                            <div
                                style="background-color: #3F4468;border-radius: 50%;width:25px;height: 24px;display:inline-block;margin-left: 0.5rem;">
                                <a>
                                    <i class="fas fa-pen" style="color: white;font-size: 13px;"></i></a></div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="row" style="width:100%;margin-left: 0rem;background-color: #DBB2D2;">
        <p style="margin-left: auto;margin-right: auto;margin-top: 25px;
        font-size: 20px;color: white;">Add New Beaut Provider</p>
    </div>
    <div class="modal-body">
        <form [formGroup]="issueForm" (ngSubmit)="onSubmit()" style="margin-top: 2rem;">
            <div class="row ml-auto mr-auto" style="width:100%">
                <div style="margin-left: 1rem;">
                    <label style="margin-right: 1rem;">Owner name</label>
                    <form class="example form-group" [formGroup]="issueForm">
                        <input type="text" style="height:50px;width: 215px;" formControlName="owner_name"
                         class="form-control"
                            placeholder="Add Coupon Name" name="owner_name">

                    </form>
                </div>
                <div style="margin-left: 1rem;">
                    <label>Coupon Beaut Provider</label>
                    <form class="form-inline example" >
                        <div class="form-group" [formGroup]="issueForm">
                            <select class="form-control" style="width: 215px;height:50px; " 
                            formControlName="beaut_name" name="beaut_name">
                                <option value="" disabled selected> Choose Beaut Provider</option>
                                <option *ngFor="let item of provList" [value]="item.id">
                                    {{item.beaut_name}}
                                </option>
                                
                            </select>

                        </div>

                    </form>

                </div>
                <div style="margin-left: 1rem;">
                    <label style="margin-right: 1rem;">Email</label>
                    <form class="example form-group" [formGroup]="issueForm">
                        <input type="text" style="height:50px;width: 215px;" formControlName="email" 
                        class="form-control"
                            placeholder="Enter your email" name="email">

                    </form>
                </div>
                
            </div>
            <div class="row ml-auto mr-auto" style="width:100%">
               
                <div style="margin-left: 1rem;">
                    <label style="margin-right: 1rem;">Password</label>
                    <form class="example form-group" [formGroup]="issueForm">
                        <input type="password" style="height:50px;width: 215px;" formControlName="password"
                            class="form-control" placeholder="Enter your password" name="password">

                    </form>

                </div>
                <div style="margin-left: 1rem;">
                    <label style="margin-right: 1rem;">Mobile</label>
                    <form class="example form-group" [formGroup]="issueForm">
                        <input type="text" style="height:50px;width: 215px;" formControlName="mobile"
                            class="form-control" placeholder="Enter your Mobile" name="mobile">

                    </form>

                </div>
                <div style="margin-left: 1rem;">
                    <label style="margin-right: 1rem;">Instagram Profile Link</label>
                    <form class="example form-group" [formGroup]="issueForm">
                        <input type="text" style="height:50px;width: 215px;" formControlName="insta_link" class="form-control"
                            placeholder="Enter your Link profile " name="insta_link">

                    </form>
                </div>
            </div>
            
            <div class="row ml-auto mr-auto" style="width:100%">
                <div style="margin-left: 1rem;">
                    <label style="margin-right: 1rem;">Address</label>
                    <form class="example form-group" [formGroup]="issueForm">
                        <input type="text" style="height:50px;width: 215px;" formControlName="address" class="form-control"
                            placeholder="Enter your Address" name="address">
    
                    </form>
                </div>
                <div style="margin-left: 1rem;">
                    
                    <label>City</label>
                    <form class="form-inline example" >
                        <div class="form-group" [formGroup]="issueForm">
                            <select class="form-control" style="width: 215px;height:50px; " 
                            formControlName="city_id" name="city_id">
                                <option value="" disabled selected> Choose Your City</option>
                                <option *ngFor="let item of cityList" [value]="item.id">
                                    {{item.name_en}}
                                </option>
                                
                            </select>
    
                        </div>
    
                    </form>
    
                </div>
                <div style="margin-left: 1rem;">
                    <label style="margin-right: 1rem;">Longitude</label>
                    <form class="example form-group" [formGroup]="issueForm">
                        <input type="text" style="height:50px;width: 215px;" formControlName="longitude"
                            class="form-control" placeholder="Enter Your longitude" name="longitude">

                    </form>

                </div>
                <div style="margin-left: 1rem;">
                    <label style="margin-right: 1rem;">Latitude</label>
                    <form class="example form-group" [formGroup]="issueForm">
                        <input type="text" style="height:50px;width: 215px;" formControlName="latitude"
                            class="form-control" placeholder="Enter Your latitude" name="latitude">

                    </form>

                </div>
                <div style="margin-left: 1rem;">
                    <label style="margin-right: 1rem;">Gallery</label>
                    <form class="example form-group" [formGroup]="issueForm">
                        <input type="text" style="height:50px;width: 215px;" formControlName="photos" class="form-control"
                            placeholder="" name="photos">

                    </form>
                </div>
                
            </div>
          
            <div class="modal-footer ml-1" style="border: none;">
                <button [disabled]="isLoading" class="btn  " style="background-color:  #DBB2D2;font-family: 'Almarai', sans-serif;
                color: white;width:215px;height: 50px;font-size: 18px;
               ">Save</button>
            </div>
        </form>
    </div>

</ng-template>