<app-side></app-side>
<app-header></app-header>

<div class="appSideInfo">
    <div class="infoContent">
        <div class="row mt-5" style="background-color: white;width: 90%;margin-left: auto;margin-right: auto;
      height: 5rem;border-radius:10px;">
            <div class="col-md-3 " style="margin-top: 1.5rem;">
                <p>Provider Calendar</p>
            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-4" style="margin-top: 0.8rem;">
            </div>
        </div>



    </div>
</div>

